
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC&display=swap');


.navbar-nav {
    float: none;
    margin: 0 auto;
    display: table;
    position: relative;
    left: -20px;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: orange !important;
}

#hero {
    background: url('https://sun9-37.userapi.com/impf/c850420/v850420235/6a7bb/MNfmMJxSkWQ.jpg?size=1536x2048&quality=96&sign=08822c0f68a7b8fb9913365e616aeecf&type=album') 100% 10%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    height: 700px;
    color: white;
  }
#hero a{
    color: rgba(255, 255, 255, 0.5);
}
#reviews {
	display: flex;
	flex-flow: row wrap;
}
.comment {
	max-width: 1000px; 
	flex-basis: 50%;
	margin-bottom: 25px;
    padding-left: 53px;
    margin-left: 60px;
}
.comment_bubble {
	padding: 16px;
}
.comment_bubble {
	background: #ebebeb;
	position: relative;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	margin-left: 50px;
}
.comment_bubble:before {
	content: "";
    position: absolute;
    bottom: 100%;
    left: 20%;
    width: 0;
    height: 0;
    border-top: 12px solid transparent;
    border-right: 13px solid #ebebeb;
    border-left: 13px solid transparent;
}
.hr {
    margin-top: 80px;
    border: none; 
    background-color:black;
    color: white;
    height: 1px;
   }

.about-me__body{
    font-family: sans-serif;
    font-style: normal;
    font-size: 23px;
    color: grey;
    font-weight: 150;
}
#resume{
    margin-top: 100px;
}
#resume u{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 35px;
}
#resume .progress{
    margin-top: 10px;
}

#resume .row{
    margin-top: 40px;
}
#contact{
    background-color:  #1e1e1e;
    color: white;
}
.contact__name{
    font-size: 2.2rem;
    font-weight: 100;
    color: rgba(255, 255, 255, 0.4);
    margin-top: 0;
    margin-bottom: .2rem;
}
#contact .hr{
    margin: 0;
    background-color: white;
}
footer{
    padding-top: 20px;
    font-size: 1.5rem;
    height: 100px;
    font-weight: 200;
    color:white;
    background-color:  #1e1e1e;
}
footer span{
    color: rgba(255, 255, 255, 0.4);
}

.download{
    margin-left: 80%;
    right: 0;
}

.resume__body{
    font-weight: 150;
    font-size: 20px;
}
.container{
    padding: 0;
    margin: 0;
}

.contact__info{
    font-weight: 100;
    font-size: 30px;
}
.resume__type{
    font-family: 'Playfair Display SC', serif;
    padding: 0;
    font-weight: 300;
    font-size: 42px;
}
.resume__type-name{
    font-size: 37px;
}
.resume__type-line{
    background-color: red;
    width: 100%;
    height: 2px;
}
.navbar {
    font-size: 15px;
}
#scroll{
    position: fixed;
    right: 0;
    bottom: 0;
    margin-right: 40px;
    margin-bottom: 40px;
}
.progress{
    height: 30px!important;
    margin-bottom: 10px;
}
.iam{
    font-size: 70px;
    font-weight: 300;
    margin-top: 150px;
}
.iabout{
    font-weight: 200;
    font-size: 30px;
}